header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    background-image: url('../static/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 50px;
    text-align: center;
}

section#section1 div {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

section#section2 {
    background-color: #f9f9f9;
    padding: 50px;
}
