{% extends 'base.html' %}

{% block title %}PharmaXplorer{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ url_for('display_pharmacies') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='../static/images/pharma.jpeg') }}" alt="Pharmacies" class="index-image">
                <h1> Pharmacies </h1>
                <p>Find the best pharmacies in Limbe, Cameroon, the Town of Friendship.</p>
                <a href="{{ url_for('display_pharmacies') }}"></a>
            </div>
        </a>
        <a href="{{ url_for('on_call') }}">
            <div class="image-container">
                <img src="{{ url_for('static', filename='../static/images/on-call.jpeg') }}" alt="On Call Days" class="index-image">
                <h1> On Call days </h1>
                <p>Stay updated with the on-call days and emergency services.</p>
                <a href="{{ url_for('on_call') }}"></a>
            </div>
        </a>
    </div>

<body>
    <div class="landing-page">
        <div class="image-text-container">
            <div class="image">
                <img src="static/images/pharma.jpeg" alt="Image 1">
            </div>
            <div class="text">
                <p>Text description for Image 1.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
