{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Medications Available</h2>
        <div>
          <form action="{{ url_for('search_medications') }}" method="GET">
                <input type="text" name="query" placeholder="Search medications...">
                <button type="submit">Search</button>
            </form>
        </div>
        <ul>
            {% for medication in pharmacy.medications %}
                <li>{{ medication.name }} - Dosage: {{ medication.dosage }}</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('search_medications') }}" method="GET">
            <input type="text" name="query" placeholder="Search medications...">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock %}