{% extends 'base.html' %}

{% block title %}PharmaXplorer{% endblock %}

{% block content %}
    <h2>{{ pharmacy.name }}</h2>
    <div class="button-container">
          <div class="search-container">
            <form action="{{ url_for('search_medications') }}" method="GET">
                <input type="text" name="query" placeholder="Search medications...">
                <input type="submit" value="Search">
            </form>
        </div>
        <a href="{{ url_for('location', pharmacy_id=pharmacy_id) }}">
            <img src="{{ url_for('static', filename='../static/images/location.jpg')}}" alt="Location" class="contact-image">
            <h1> Location </h1>
        </a>
        <a href="{{ url_for('medications', pharmacy_id=pharmacy_id) }}">
            <img src="{{ url_for('static', filename='../static/images/meds.jpg')}}" alt="Medications" class="contact-image">
            <h1> Medications </h1>
        </a>
        <a href="{{ url_for('contact', pharmacy_id=pharmacy_id) }}">
            <img src="{{ url_for('static', filename='../static/images/cont.jpg')}}" alt="Contact" class="contact-image">
            <h1> Contact </h1>
        </a>
       
    </div>
{% endblock %}
