{% extends 'base.html' %}

{% block title %}PharmaXplorer{% endblock %}

{% block content %}
    <h2>Pharmacies</h2>
    <div class="pharmacy-container">
        {% for pharmacy in pharmacies %}
            <div class="pharmacy-item">
                <a href="{{ url_for('pharmacy_details', pharmacy_id=loop.index) }}" >
                    <h1> {{ pharmacy.name }}</h1>
                    <img src="{{ pharmacy.image_url }}" alt="{{ pharmacy.name }}" class="pharmacy-image">
                </a>
                
                <h4>{{ pharmacy.description}}</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}